* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #79ade4;
}

body {    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
}

form {
    padding: 24px 0;
    text-align: center;
    display: block;
}

form h2{
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

#tarefa-nova {
    background-color: beige;
}

button {
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #10ca4e;
}

ul {
    display: block;
    flex-wrap: wrap;
}

li {
    color: rgb(3, 2, 66);
    white-space: nowrap;
}

ul li {
    max-width: 25%;
    position: relative;
    max-height: 270px;
}

.checked {
    text-decoration: line-through
}